{% extends "base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'core/card_confirm_delete.css' %}">
    <form method="post" class="delete-question" >
        {% csrf_token %}
        <p class="text">Are you sure you want to delete this card?</p>
        {% include "decks/_card_preview.html" %}
        {{ form }}
        <div class="center">
          <a href="{{ card.get_absolute_url }}" class="cancel">Cancel</a>
          <input type="submit" value="Confirm" class="confirm">
        </div>
    </form>
{% endblock content %}
