{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'core/deck_confirm_delete.css' %}">
    <form method="post">
        {% csrf_token %}
        <p class="delete-deck-form">Are you sure you want to delete flashcard set named {{ object.name }}?</p>
        {{ form }}
        <a href="{{ object.get_absolute_url }}" class="btn btn-primary btn-cancel">Cancel</a>
        <input type="submit" value="Confirm" class="btn btn-danger btn-confirm">
    </form>
{% endblock content %}
