{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'core/shared.css' %}">
    <form class="d-flex" role="search">
        <input class="form-control me-2"
               name="search"
               type="search"
               placeholder="Search"
               aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
    {% if search %}
        <p class="result-decks">Results for: "{{ search }}"</p>
    {% else %}
        <p class="deck-labels">All shared decks</p>
    {% endif %}
    {% include "decks/_deck_list.html" with deck_list=deck_list %}
{% endblock content %}
