{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'core/shared.css' %}">
    <link rel="stylesheet" href="{% static 'core/deck-instructions.css' %}">
    <div class="instructions-title">
        <p>Instructions<br></p>
    </div>
    <div class="instructions-list">
        <p>1. This is the page the you can search or view published flashcards.<br></p>
        <p>2. You can search for flashcards by inputting your query in the search bar and then clicking the "Search" button.<br></p>
        <p>3. The best results are shown from all the shared flashcards on TriviaTrek!.<br></p>
    </div>
    <form class="d-flex" role="search">
        <input class="form-control me-2"
               name="search"
               type="search"
               placeholder="Search"
               aria-label="Search">
        <button class="search" type="submit">Search</button>
    </form>
    {% if search %}
        <p class="result-decks">Results for: "{{ search }}"</p>
    {% else %}
        <p class="deck-labels">All shared decks</p>
    {% endif %}
    <div class="bot-spacing">
        {% include "decks/_deck_list.html" with deck_list=deck_list %}
        

        {% if api_results %}
    <div class="api-results">
        <h3>External Results</h3>
        {% if api_results.error %}
            <p>Error: {{ api_results.error }}</p>
        {% else %}
            <ul>
                {% for item in api_results %}
                    {% if forloop.first or forloop.counter0|divisibleby:3 %}
                        <li>
                    {% endif %}

                    {% if forloop.counter0|divisibleby:3 %}
                        <div style="font-weight: bold; font-size: 1.2em; margin-bottom: 0.25em; white-space: pre-wrap;">{{ item }}</div>
                    {% elif forloop.counter0|add:'2'|divisibleby:3 %}
                        <div style="color: darkred; margin-bottom: 0.25em; white-space: pre-wrap;">{{ item }}</div>
                    {% else %}
                        <div style="color: #7b4ecf; margin-bottom: 0.25em; white-space: pre-wrap;">{{ item }}</div>
                    {% endif %}

                    {% if forloop.last or forloop.counter|divisibleby:3 %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}


    </div>
{% endblock content %}
