{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'core/create.css' %}">

{% if user.is_authenticated %}
    <div class="create-instructions">
        <p>This is where you create a set of flashcards.<br></p>
        <p>Instructions<br></p>
    </div>
    <div class="instructions-list">
        <p>1. Select the type of question in the dropbar menu.<br></p>
        <p>2. Input your question on the top and your answers.<br></p>
        <p>3. Press the "Add Answer" button to add an answer option.<br></p>
        <p>4. Press the "Remove Answer" button to remove an answer option.<br></p>
        <p>Note: Multiple Choice (Select 1) questions must only have 1 answer to have the "Correct Answer" checkmarked.<br></p>
        <p>Note: Multiple Choice (Multiselect) questions must have at least 1 answer to have the "Correct Answer" checkmarked.<br></p>
        <p>Note: True or False questions has the answers automatically applied and cannot be edited except determing for the Correct Answer.<br></p>
        <p>Note: Term and Definition, and Free Repsonse questions require a singular text answer.<br></p>
        <p>Note: Term and Definition, True or False, and Free Repsonse questions do not have the "Add Answer" and "Remove Answer" buttons.<br></p>
        <p>5. Press the "Back" button to go to a previous flashcard.<br></p>
        <p>6. Press the "Delete" button to delete the current flashcard.<br></p>
        <p>7. Press the "Save" button to save your flashcard file.<br></p>
        <p>8. Press the "Add" button to add a flashcard after the current flashcard.<br></p>
        <p>9. Press the "Next" button to go to the next flashcard.<br></p>
    </div>
    <!-- <div class="dropdown-container">
        <label for="dropdown">Choose a question option: </label>
        <select id="dropdown" name="dropdown">
            <option value="option1">Multiple Choice (Select 1)</option>
            <option value="option2">Multiple Choice (Multiselect)</option>
            <option value="option3">True or False</option>
            <option value="option4">Term and Definition</option>
            <option value="option5">Free Response</option>
        </select>
    </div>
    <div class="flashcard-count">
        <h2>Flashcard 1 of 10</h2>
    </div>
    <div class="flashcard-display">
        <h2>Question</h2>
        <p>A. Answer 1<br> <input type="checkbox" id="answer1" value="Correct Answer"> <label for="answer1"> Correct Answer</label> <br> <button>Remove Answer</button> </p>
        <p>B. Answer 2<br> <input type="checkbox" id="answer2" value="Correct Answer"> <label for="answer2"> Correct Answer</label> <br> <button>Remove Answer</button> </p>
        <p>C. Answer 3<br> <input type="checkbox" id="answer3" value="Correct Answer"> <label for="answer3"> Correct Answer</label> <br> <button>Remove Answer</button> </p>
        <p>D. Answer 4<br> <input type="checkbox" id="answer4" value="Correct Answer"> <label for="answer4"> Correct Answer</label> <br> <button>Remove Answer</button> </p>
        <button>Add Answer</button>
    </div>
    <div class="create-menu">
        <button>Back</button>
        <button>Delete</button>
        <button>Save</button>
        <button>Add</button>
        <button>Next</button>
    </div> -->
    {% include "decks/card_form.html" %}
{% endif %}

{% endblock %}
