{% extends "base.html" %}
{% block content %}
{% load static %} 
<link rel="stylesheet" href="{% static 'core/home.css' %}">
<div class="home">
{% if user.is_authenticated %}
    <div class="introduction">
        <p>Welcome back to TriviaTrek!<br></p>
        <p>If you want to create a new set of flashcards, click the "Create" button.<br></p>
        <p>If you want to see you existing flashcard sets, click the "Flashcard Sets" button.<br></p>
        <p>If you want to see flashcard sets you shared, click the "Shared" button.<br></p>
        <p>If you want to do a quiz on your flashcard set, click the "Quiz" button.<br></p>
    </div>
{% else %}
    <div class="introduction">
        <p>Welcome to TriviaTrek! This is where you can make flashcards for you to create and be able to study with them. You can create sets of flashcard, share flashcards for people to see or edit, take timed or untimed quizzes, and create your account
            to save your flashcard files.<br></p>
        <p>If you do not have an account, click the "Create Account" button.<br></p>
        <p>If you do have an account, click the "Login" button.<br></p>
    </div>
{% endif %}
<div class="home_card_set">
    <div class="home_card">
        <p class="home_card_text">Flashcards</p>
        <div class="home_flashcard"></div>
        <p class="dna_text">DNA</p>
        <img src="{% static 'image/dna.webp' %}" class="dna" width="200" height="150" alt="DNA molecule illustration">
    </div>
    <div class="home_card">
        <p class="home_card_text">Quiz</p>
        <div class="question_card"></div>
        <img src="{% static 'image/question.webp' %}" class="question" width="200" height="150" alt="Question mark graphic">
        <p class="true">True</p>
        <p class="false">False</p>
    </div>
</div>
</div>
{% endblock content %}