body {
    background-color: #5fcdd1 !important;
    min-height: 100vh;
}

.title {
    font-size: 50px;
    text-align: center;
    color: #000757;
    font-family: "Courier New";
}

.topnav {
    background-color: #0015ff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #00a2ff;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.introduction {
    margin-top: 30px;
    padding: 20px;
    font-size: 25px;
    text-align: left;
    font-family: "Courier New";
    background-color: #007bff;
    color: #ffffff;
}