.card-form {
    color: black !important;
    margin-top: 30px !important;
}

.save-button2 {
    text-decoration: none;
    background-color: #BFD0CD;
    color: black !important;
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    font-family: "Courier New";
}

textarea {
    background-color: white;
    color: black !important;
    min-height: 150px;
    padding: 10px;
    font-family: "Courier New", monospace;
    border: 2px solid black;
    border-radius: 10px;
    resize: vertical;
}

input, select, textarea {
    color: black !important;
}

input[type="submit"] {
    background-color: #BFD0CD;
    color: black !important;
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    font-family: "Courier New";
}

.instructions-list {
  margin-top: 00px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  text-align: left;
  font-family: "Courier New";
  background-color: #B8C3BD;
  color: #000000;
}

.instructions-title {
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  font-family: "Courier New";
  background-color: #B8C3BD;
  color: #000000;
}
