.card-form {
    color: black !important;
    margin-top: 30px !important;
}

.save-button2 {
    text-decoration: none;
    background-color: #BFD0CD;
    color: black !important;
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    font-family: "Courier New";
}

textarea {
    background-color: white;
    color: black !important;
    min-height: 150px;
    padding: 10px;
    font-family: "Courier New", monospace;
    border: 2px solid black;
    border-radius: 10px;
    resize: vertical;
}

input, select, textarea {
    color: black !important;
}

input[type="submit"] {
    background-color: #BFD0CD;
    color: black !important;
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    font-family: "Courier New";
}

.card-form-container {
    display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin-bottom: 10vh;
}
#id_front {
    width: 26vw;
    border: none;
    display: flex;
    background-color: #CFDCD8;
    height: 1vh;
    padding: 10px;
    color: black;
    font-size: 1.2rem;
    resize: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    
    font-family: var(--bs-body-font-family);
}
#id_back {
        width: 26vw;
    border: none;
    display: flex;
    background-color: #CFDCD8;
    height: 20vh;
    padding: 10px;
    color: black;
    font-size: 1.2rem;
    resize: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: var(--bs-body-font-family);

}
label[for="id_front"] {
    font-size: 1.5rem;
}
label[for="id_back"] {
    font-size: 1.5rem;
}
input[type="submit"] {
    border: none;
    font-family: var(--bs-body-font-family);
    font-size: 1.1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 1vh 2vw;
    display: block;
    margin: 0 auto;
}
input[type="submit"]:hover {
    background-color: #B8C3BD;
}
