/* table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: "Courier New", sans-serif;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 3px solid #000000;
    background-color: #f3f3f3;
    font-size: 24px;
    color: #000000;
}

th {
    background-color: #96a2a0;
    color: white;
    font-size: 28px;
}

td, th {
    width: 200px; 
}

th:nth-child(1), td:nth-child(1) {
    width: 25px; 
}

th:nth-child(2), td:nth-child(2) {
    width: 350px;
}

tbody tr:hover {
    background-color: #0088ff;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
    color: #0033cc;
} */

.deck_list_container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 5vh;
    text-align: center;
}
.deck_list_title {
    font-size: 2.2rem;
    font-weight: normal;
}
.deck {
    background-color: #21B78F;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
    margin-top: 2vh;
    transition: transform 0.3s ease-in-out 0s;
    padding: 6vh 20vw;
    position: relative;
    border-radius: 30px;
}
.deck_name {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    top: 5%;
    left: 2%;
}
.deck_description {
    font-size: 1.2rem;
    color:white;
     position: absolute;
    top: 40%;
    left: 5%;
     max-width: 90%; /* Ensure text doesn’t overflow horizontally */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflowed content */
    text-overflow: ellipsis;
}
.deck:hover {
    transform: scale(1.1);
}
.deck_empty {
    font-size: 2rem;
    margin-top: 7vh;
}
.deck_create {
    font-size: 2rem;
    background-color: #BFD0CD;
    color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  
    font-size: 1.5rem; 
    padding: 1vh 3vw;
    margin-top: 30vh;
    display: flex;

}
.deck_create:hover {
    background-color: #B8C3BD;

}