.btn-btn-primary-btn-cancel {
    background-color: green;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    font-family: "Courier New";
    text-decoration: none;
}

.btn-btn-danger-btn-confirm {
    background-color: rgb(177, 0, 0);
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    font-family: "Courier New";
    text-decoration: none;
}

.delete-deck-form {
    color: black;
    margin-top: 30px;
}