/* .result-decks {
    color: black;
}

.deck-labels {
    color: black;
}

.d-flex {
    margin-top: 30px;
} */
.search {
    background-color: #21B78F;
    color:white;
    border: none;
    border-radius: 5px;
}
.search:hover {
    background-color: #19896D;

}
.d-flex {
    max-width: 80%;
    margin: 2vh auto;
}
.deck-labels, .result-decks {
    margin-left: 11vw;
    font-size: 1.2rem;
}
.col {
    margin-bottom: 2vh;
}
.btn-primary {
    background-color: #21B78F;
    border: none;

}
.api-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.25em;
    white-space: pre-wrap;
}
.api-subtitle {
    color: darkred;
    margin-bottom: 0.25em;
    white-space: pre-wrap;
}
.api-snippet {
    color: #7b4ecf;
    margin-bottom: 0.25em;
    white-space: pre-wrap;
}
